:root {
    --color-type-0: rgb(0, 0, 0);
    --color-type-1: rgb(255, 128, 37);
    --bg-color-type-0: rgb(0, 0, 0);
    --bg-color-type-1: rgb(255, 255, 255);
    --font-type-0: 400 60px/1.2 "Urbanist", Helvetica, Arial, serif;
    --font-type-1: italic 500 30px/1.2 "Urbanist", Helvetica, Arial, serif;
    --font-type-2: 700 30px/1.2 "Urbanist", Helvetica, Arial, serif;
    --font-type-3: 200 25px/1.32 "IBM Plex Mono", Helvetica, Arial, serif;
    --font-type-4: 100 25px/1.32 "IBM Plex Mono", Helvetica, Arial, serif;
    --font-type-5: 200 18px/1.27 "IBM Plex Mono", Helvetica, Arial, serif;
    --padding-type-0: undefinedpx undefinedpx undefinedpx undefinedpx;
}

.back-button {
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 1vh;
    height: 6.5vh;
    justify-content: center;
    margin-top: 20px;
    width: 200px;
}

.navbar {
    align-items: center;
    color: var(--color-type-0);
    display: flex;
    height: 85px;
    justify-content: center;
    position: relative;
}

.navbar-heading {
    font-family: "Urbanist", sans-serif;
    font-size: 53px;
    margin: 0;
    padding-right: 20px;
}

.line {
    background-color: var(--bg-color-type-0);
    left: calc(50% - 450px);
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    width: 1205px;
}

.navbar-links {
    display: flex;
    font-family: "IBM Plex Mono", monospace;
    font-size: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.navbar-links li {
    margin-left: 50px;
}

.navbar-links a {
    color: var(--color-type-0);
}

.navbar-links a:hover {
    color: var(--color-type-1);
    text-decoration: none;
}

.structure-details {
    &.main {
        background-color: var(--bg-color-type-1);
        display: flex;
        flex-direction: column;
        overflow: hidden;
        padding: var(--padding-type-0);
        position: relative;
    }

    .section1 {
        display: flex;
        flex-direction: column;
        min-height: 1700px;
        position: relative;
    }

    .line {
        background-color: var(--bg-color-type-0);
        bottom: 1584px;
        height: 1px;
        left: 0px;
        position: absolute;
        right: 0px;
        top: 115px;
    }

    .image {
        bottom: 1620px;
        height: 24px;
        left: 63px;
        object-fit: cover;
        position: absolute;
        right: 1243px;
        top: 56px;
        width: 134px;
    }

    .main-img {
        border-color: var(--color-type-0);
        border-style: solid;
        border-width: 1px;
        height: 474px;
        margin-right: -90rem;
        object-fit: cover;
        position: absolute;
        right: 0px;
        top: 5rem;
        width: 728px;
    }

    .hero_title {
        color: var(--color-type-0);
        font: var(--font-type-0);
        left: 10rem;
        position: absolute;
        top: 4rem;
        width: 502px;
        font-size: 48px;
    }

    .decorative-arrow {
        height: 38px;
        left: 5rem;
        object-fit: cover;
        position: absolute;
        top: 5rem;
        width: 52px;
    }

    .highlight {
        color: var(--color-type-0);
        font: var(--font-type-5);
        height: 276px;
        letter-spacing: 0px;
        position: absolute;
        text-align: justify;
        top: 16.5rem;
        width: 723px;
        left: 46.5rem;
    }

    .title {
        color: var(--color-type-0);
        font: var(--font-type-1);
        height: 36px;
        letter-spacing: 0px;
        position: absolute;
        top: 12rem;
        width: 558px;
        left: 46.5rem;
    }

    .secondary-img {
        border-color: var(--color-type-0);
        border-style: solid;
        border-width: 1px 0px 0px 1px;
        bottom: 0px;
        height: 400px;
        left: 100px;
        object-fit: cover;
        position: absolute;
        right: 720px;
        top: 1300px;
        width: 620px;
    }

    ul {
        margin-top: 5rem;
        margin-left: 8.5rem;
        padding-top: 7rem;
    }

    .btn.btn-primary {
        left: 3rem;
    }

    .dropdown,
    .dropleft,
    .dropright,
    .dropup {
        position: relative;
        left: 10rem;
        top: 2rem;
    }

}