{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/map.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{% endblock %}

{% block body %}

<nav class="navbar">
    <a href="/"><img class="back-button" src="/static/img/back-arrow.svg"></a>
    <hr class="line" size="1" />
    <ul class="navbar-links">
        <li><a href="/dashboard/{{ user.user_id }}">dashboard</a></li>
        <li><a href="/library">library</a></li>
        <li><a href="/map">map</a></li>
        <li><a href="#">submit</a></li>
        <li><a href="#">albums</a></li>
        <li><a href="#">log_out</a></li>
    </ul>
</nav>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-8">
            <div id="map" class="map"></div>
        </div>
        <div class="col-lg-4">
            <ol class="list-group list-group-numbered" id="structuresList">
                <li class="list-group-item d-flex justify-content-between align-items-start">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold"></div>
                        Loading, please wait...
                    </div>
                    <span class="badge rounded-pill"></span>
                </li>
            </ol>
        </div>
    </div>
</div>

<script src="/static/js/map.js"></script>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDSMrST6tA5LevywsZYvPXPsmIqhlbmRg4&callback=initMap"></script>

{% endblock %}