{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/registration.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
{% endblock %}

{% block body %}
<main class="registration main">
    <section class="section">
        <img class="back-button" src="/static/img/back-arrow.svg">
        <h1 class="registration-heading">registration</h1>
        <span class="instructions-box">
            <p class="registration-instructions">Enter a valid email address and password to create your
                <i>architexture</i> account.
            </p>
        </span>
        <div class="flash-container"></div>
        {% if messages %}
        <div class="flash-messages">
            {% for message in messages %}
            <div class="flash-message {%if 'success' in message %}success-message{% endif %}">
                {{ message }}
            </div>
            {% endfor %}
        </div>

        <script>
            const successMessage = document.querySelectorAll(".success-message");

            if (successMessage.length > 0) {
                setTimeout(function () {
                    window.location.href = '/login';
                }, 1000);
            }
        </script>
        {% endif %}

        <form action="/registration" method="POST">
            <input class="email-input" type="email" name="email" placeholder="email" required>
            <input class="password-input" type="password" name="password" placeholder="password" required>
            <button type="submit"><img class="sign-up-button" src="/static/img/sign-up-arrow.svg" /></button>
        </form>
        <hr class="line" size="1" />
    </section>
</main>
{% endblock %}