{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="/static/css/structure-details.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
    href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
<link
    href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
{% endblock %}

{% block body %}
<nav class="navbar">
    <hr class="line" size="1" />
    <ul class="navbar-links">
        <li><a href="/dashboard/{{ user.user_id }}">dashboard</a></li>
        <li><a href="/library">library</a></li>
        <li><a href="/map">map</a></li>
        <li><a href="/albums/{{ user.user_id }}">albums</a></li>
        <li><a href="/submit/{{ user.user_id }}">submit</a></li>
        <li><a href="#">log_out</a></li>
    </ul>
</nav>

<main class="structure-details main">
    <section class="section1">
        <div class="container-fluid">
            <row class="col-lg-6 col-md-6">
                <img class="main-img" src="{{ structure.img_path }}" alt="alt text">
            </row>
        </div>
        <div class="container-fluid">
            <row class="col-lg-6 col-md-6">
                <h1 class="hero_title">{{ structure.structure_name }}</h1>
                <img class="decorative-arrow" src="/static/img/decorative-arrow.svg" alt="alt text" />
            </row>
        </div>
        <div class="container-fluid">
            <row class="col-lg-6">
                <ul>
                    <li>
                        <strong>Location: </strong>{{ structure.city }}, {% if structure.state is not none %}{{
                        structure.state }}, {%
                        endif %}{{
                        structure.country }}
                    </li>
                    <li>
                        <strong>Style: </strong>{{ structure.arch_style }}
                    </li>
                    <li><strong>Year Completed: </strong>{{ structure.year_built }}</li>
                    <li><strong>{% if structure.architect_name is not none %}Architect: {% else %}Firm: {% endif
                            %}</strong>{% if structure.architect_name is not none %}{{ structure.architect_name }}{%
                        else
                        %}{{ structure.arch_firm }}{% endif %}
                    </li>
                    <li><strong>Typology: </strong>{{ structure.structure_type }}</li>
                </ul>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Add to Album
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        {% for album in albums %}
                        <form class="add-to-album-form" action="/add_to_album/{{ structure.structure_id }}"
                            method="POST">
                            <input type="hidden" name="album-id" value="{{ album.album_id }}">
                            <button type="submit" class="dropdown-item">{{ album.album_name }}</button>
                        </form>
                        {% endfor %}
                    </div>
                </div>
            </row>
        </div>
        <div class="container-fluid">
            <row class="col-lg-6">
                <h1 class="title">{{ structure.header }}</h1>
                <h4 class="highlight">{{ structure.summary }}</h4>
            </row>
        </div>
        <div class="container-fluid">
            <div class="col-lg-6">
                <img class="secondary-img" src="{{ structure.img_path2 }}" alt="alt text" />
            </div>
        </div>
    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('.add-to-album-form').forEach(function (form) {
                form.onsubmit = function (event) {
                    event.preventDefault();
                    var actionUrl = form.action;
                    var data = new FormData(form);

                    fetch(actionUrl, {
                        method: 'POST',
                        body: data
                    })
                        .then(response => response.json())
                        .then(data => {
                            alert(data.message);
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('An error occurred while adding to the album.');
                        });
                };
            });
        });
    </script>
</main>
{% endblock %}